.footer__bg{
    margin-top: 0;
    background: #eaeaea;
    padding: 5rem 0;
}
.footer__bg > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copy__right > p{
    font-size: 1.7rem;
    color: var(--color-heading);
}
.social__link{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.social__link > span{
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    font-size: 2.4rem;
    background: #d9d9d9;
    border-radius: .3rem;
    color: #424242;
    cursor: pointer;
    transition: var(--transition);
}
.social__link > span:hover{
    background: #bbbbbb;
}





/* =========MEDIA QUERY(SMALL SCREEN)========== */
@media screen and (max-width: 700px) {
    .footer__bg > .container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
    }
  }